<!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let fruit of fruits">{{fruit}}</li>
      </ul>

    <p *ngIf="toggle">Hello World</p>
    <button (click)="change(text.value)">Change</button>

    <input type="text" placeholder="Type Here" #text>


    <ul [ngSwitch]="person">
            <li *ngSwitchCase="'Mohan'">Hello Mohan</li>
            <li *ngSwitchCase="'Sohan'">Hello Sohan</li>
            <li *ngSwitchCase="'Vijay'">Hello Vijay</li>
            <li *ngSwitchDefault>Bye Bye</li>
          </ul> -->



<!-- <app-login></app-login> -->

<!-- <app-welcome></app-welcome> -->