.container
{

 display: flex;
 flex-direction: column;
}
.example-card
{
    max-height: 300px;
    max-width: 250px;
}
.header
{
    height:40px;
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
}
.icon
{
    margin: 2px;

}
.item1
{
    margin:12px;
}
.item2
{
    margin:12px;
}
.item3
{
    margin:12px;
}


